<!-- 
Luca Pitoscia
200290440
Assignment 1
COMP2068 - JS Frameworks  
Sunday, February 16, 2025
-->

<div class="about-page container">
  <h2 class="section-title">About Me</h2>
  <div class="about-content row align-items-center">
    <div class="col-md-4 text-center">
      <img src="/images/avatar.jpg" alt="Profile Picture" class="img-fluid rounded-circle about-profile">
    </div>
    <div class="col-md-8">
      <p>Hello! I'm Luca Pitoscia, and I'm a Computer Programming Student at Georgian College in Barrie, Ontario. Welcome to my personal portfolio where I showcase some of my work and projects.</p>
      <p>I hold a deep interest in computer programming and continuous learning. Over the years, my journey through different classes has enabled me to learn multiple languages and tools. My goal for the future is to build apps and tools that can help people in their daily lives and explore new trends in AI and modern development.</p>
      <p>My approach to building websites/apps is a clean and aesthetically pleasing and user-friendly design you will notice that as you look through my portfolio. In addition to coding, I am very interested in the blockchain and have worked on a few projects on Solana</p>
      <p>Anyhow, feel free to explore my portfolio and reach out if you're interested in discussing new projects!</p>
    </div>
  </div>
</div> 