<!-- 
Luca Pitoscia
200290440
Assignment 1
COMP2068 - JS Frameworks  
Sunday, February 16, 2025
-->

<div class="jumbotron text-center">
  <img src="/images/avatar.jpg" alt="Avatar" class="avatar">
  <h1 class="display-4 mt-3">Welcome to Luca's Portfolio</h1>
  <p class="lead">
    Hi, I'm Luca Pitoscia. I'm currently a college student in my final semester. I am a passionate and dedicated student with a strong interest in technology and software development. Follow along with my journey and projects by viewing some of my work on my projects page or check out my GitHub and LinkedIn links!
  </p>
  <div class="social-links mt-4">
    <a href="https://www.linkedin.com/in/luca-pitoscia-5342a8227/" class="btn linkedin-profile" target="_blank">
      LinkedIn
    </a>
    <a href="https://github.com/lucapitoscia" class="btn github-profile" target="_blank">
      GitHub
    </a>
  </div>
</div> 