<!-- 
Luca Pitoscia
200290440
Assignment 1
COMP2068 - JS Frameworks  
Sunday, February 16, 2025
-->
<h2>Projects</h2>
<p>Below are some of the projects that I've worked on. Click on a project to view the code on GitHub.</p>

<div class="project-scroller">
  <div class="project-card">
    <a href="https://github.com/lucapitoscia/ShiftManagerApp" target="_blank">
      <img src="/images/project1.png" alt="Project One">
    </a>
    <div class="project-info">
      <h3>Shift Manager App</h3>
      <p>Languages: C#, HTML, CSS, JavaScript</p>
    </div>
  </div>
  <div class="project-card">
    <a href="https://github.com/lucapitoscia/Samsung-Galaxy-Z-Fold5-Website" target="_blank">
      <img src="/images/project2.jpg" alt="Project Two">
    </a>
    <div class="project-info">
      <h3>Galaxy Z Fold Website</h3>
      <p>Languages: HTML, CSS, JavaScript</p>
    </div>
  </div>
  <div class="project-card">
    <a href="https://github.com/lucapitoscia/Laffy-Taffy-Webpage" target="_blank">
      <img src="/images/project3.jpg" alt="Project Three">
    </a>
    <div class="project-info">
      <h3>Laffy Taffy Website</h3>
      <p>Languages: HTML, CSS</p>
    </div>
  </div>
  <div class="project-card">
    <a href="https://github.com/lucapitoscia/What-The-Font" target="_blank">
      <img src="/images/project4.jpg" alt="Project Four">
    </a>
    <div class="project-info">
      <h3>What The Font</h3>
      <p>Languages: HTML, CSS</p>
    </div>
  </div>
</div> 